.category-page {
  .header-category {
    background: #ebebeb;
    padding: 10px 20px;
    position: relative;
    ul {
      width: 100%;
      justify-content: initial;
      .tags-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
        .tags {
          display: flex;
          justify-content: space-between;
          a {
            font-size: 16px;
            color: #252525;
            transition: all ease 0.3s;
            padding: 0 10px;
            text-transform: capitalize;
            &:hover {
              color: var(--primary-color);
            }
          }
        }
        .more-tags {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background: #ebebeb;
          cursor: pointer;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 9;
        }

        .hidden-tags {
          display: flex;
          flex-wrap: wrap;
        }

        .hidden-tags a {
          width: calc(
            20% - 10px
          ); // 20% cho mỗi cột, trừ khoảng cách giữa các tags
          margin: 5px; // Khoảng cách giữa các tags
          display: block;
          padding: 5px;
          background-color: #f0f0f0;
          border-radius: 4px;
          text-align: center;
        }

        .hidden-tags {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #fff;
          border: 1px solid #ccc;
          z-index: 1;
          display: none;
          &.show {
            display: flex;
          }

          a {
            padding: 10px;
            font-size: 16px;
            color: #252525;
            transition: all ease 0.3s;
            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
      .icon-home {
        margin-right: 20px;
        .icon {
          span {
            display: inline-block;
            margin: 0 19px;
            background: #c2c2c2;
            height: 27px;
            width: 1px;
          }
        }
        .title-category {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
          a {
            color: #252525;
          }
        }
      }
    }
  }
}

.main-title,
.summary-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-title {
  color: var(--black-color);
  transition: all ease 0.3s;
  font-weight: 600;
  &:hover {
    color: var(--primary-color);
  }
}
