* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --primary-color: #78b43d;
    --primary-hover-color: #047857;
    --primary-active-color: #047857;
    --secondary-color: #ccc;
    --secondary-hover-color: #4f4f4f;
    --height-header: 80px;
    --text-color: #7d7d7d;
    --black-color:#252525;
    --white-color: #fff;
    --text-secondary-color: #ccc;
  }
  a,
  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
  
  a {
    text-decoration: none !important;
  }
  
  ul,
  ol {
    list-style: none;
  }
  // img{
  //   object-fit: cover;
  // }
  
  .container{
    padding: 0;
  }
  .content {
    margin-top: 20px;
  }
  .page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .content-wrap {
    flex: 1;
  }
  
 .footer {
    background-color: #f8f9fa; // Màu nền của footer
    padding: 20px;
    text-align: center;
  }
  
  