.not-found {
  .home {
    width: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    span{
        color: var(--white-color);
        font-size: 18px;
        font-weight: bold;
    }
    &:hover{
        background-color: var( --primary-hover-color);
    }
  }
}
